.middle-it {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

table{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    text-align: center;
}
body{
    background-image: url(Others/正面.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: auto;
    background-size: cover;
}

.bodycontent{
  border-radius: 10px;
  height: 1000px;
  width: auto;
  background-color: rgb(255, 255, 255);
}

.card{
  width:fit-content ;
  min-width: 400px;
}

td{
    font-size:x-large;
    /* text-size-adjust: 500%; */
}

image{
    width: 1px;;
    height: 1px;
    background-color: transparent;
}