.middle-it {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* margin-left: 0 auto; */
    /* margin-right: 0 auto; */
}

table{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    text-align: center;
}
body{
    background-image: url(Others/正面.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;
    /* display: flex;
    flex-direction:column; */
}

/* .bodycontent{
  border-radius: 10px;
  height: 1000px;
  width: auto;
  background-color: rgb(255, 255, 255);
} */

.card{
    width:fit-content !important;
    height:fit-content !important;
    min-width: 400px;
    /* min-height:fit-content !important; */
    margin:0 auto;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
}
/* .sign{
    min-height:350px;
} */
.content{
    width:fit-content !important;
    height:fit-content !important;
}

table {
    border-spacing: 10px;
}
tr {
    margin-bottom: 10px;
}
td{
    font-size:x-large;
    padding-right: 20px;
}
image{
    margin: 0 auto;
}

.Placeholder{
    /* max-height: 300px !important; */
    margin: 5px auto !important;
    padding-bottom:0px !important;
    padding-top: 25px !important;
}

.card__container{
    width:fit-content ;
    height:fit-content ;
}